<div class="container-md">
  <h2>Editing <%= @article.title %></h2>
    <%= simple_form_for(@article) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>

<div class="container-md">
  <p> 🔙 <%= link_to "Back to articles", articles_path %></p>
</div>
